html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

.imageCards:hover {
  box-shadow: 1px 1px 10px #888888;
  transform: translate3d(0px, -5px, 0px);
}

.graphContainer {
  min-height: 18rem;
}
@media only screen and (max-width: 500px) {
  .graphContainer {
    min-height: 14rem;
  }

  .tsneContainer {
    min-height: 16rem;
  }
}

.accGraphContainer {
  min-height: 20rem;
}

.tsneContainer {
  min-height: 19rem;
}

.saliency {
  min-height: 29.5rem;
}

@media only screen and (min-width: 576px) and (max-width: 968px) {
  .saliency {
    min-height: 22rem;
  }
}
