[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
flask = "*"
flask-restful = "*"
pyrebase4 = "*"
numpy = "==1.18.5"
pillow = "==8.1.2"
torch = "==1.8.0"
pandas = "*"
torchvision = "*"
scikit-learn = "*"
flask-cors = "*"
opencv-python = "*"

[dev-packages]

[requires]
python_version = "3"
